<html ng-app="site">
<head>
  <title>My Personal Website</title>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>

<div ng-controller="SiteController">
    <nav class="centered">
      <a ng-repeat="page in pages" href="" ng-click="selectTab(page.index)">{{page.title}}</a>
    </nav>

    <div class="title centered">
      WILLIAM TSAY<br>
      FULL STACK DEVELOPER
    </div>

    <div ng-repeat="page in pages" ng-show="isSelected(page.index)">
      <h1 class="section centered">{{page.title.toUpperCase()}}</h1>
      <div class="content centered push-right push-left">
        {{page.content}}
      </div>

    <div ng-include="page.partial"></div>

    </div>
</div>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
 
</html>